@media only screen and (min-width: 390px) and (orientation: portrait){
    body {
        overflow: visible;
    }
}

@media only screen and (min-width: 1980px) {
    body {
        overflow: hidden;
    }
}

body {
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Verdana;
    height: 100%;
}

h2 {
    font-size: 30px;
}

.header-top {
    font-size: 20px;
}

.main-header {
    font-size: 45px;
 }

.sub-header
{
    font-size: 40px;
}

.about-me {
    font-size: 25px;
    gap: 50px 100px;
 }


.projects {
    font-size: 20px;
    display: grid;
}

.socials {
    font-size: 20px;
    display: block;
    padding-top: 100;
}


.link {
    text-decoration: none;
    color: rgb(165, 165, 165);
}
