@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Sniglet&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    scroll-behavior: smooth;
    background: url(Resources/Images/Background.png) no-repeat center center;
    min-height: 100%;
    background-size: cover
}

body {
    color: rgb(255, 255, 255);
    text-align: center;
    height: 100%;
}

h1 {
    font-size: 75px;
    font-family: 'Sniglet', cursive;
}

h2 {
    font-size: 50px;
    font-family: 'Sniglet', cursive;
}

p {
    font-family: 'Dosis', sans-serif;
    color: rgb(179, 179, 179);
    font-size: 40px;
}

a{
    font-family: 'Dosis', sans-serif;
    color: rgb(179, 179, 179);
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

a:hover{
    color:rgba(0, 84, 90, 0.8);
}

article.active {
    opacity: 1;
}

article.hidden {
    display: none;
}

#hidden {
    opacity: 0;
}

#start {
    opacity: 0;
    transition: opacity 5s;
}

#start.fade {
    opacity: 1;
}


.header-top {
    font-size: 20px;
}

.header-top h1 {
    font-size: 50px;
}

.sub-header {
    font-size: 40px;
}

.video-slideshow {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-slideshow h2 {
    font-size: 30px;
    padding-bottom: 50vh;
    text-align: center;
}

.video-slideshow iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.video-slideshow h1 {
    font-size: 75px;
    font-weight: bold;
    display: block;
    text-align: center;
}


.about {
    padding-top: 50px;
    padding-bottom: 7.5%;
}


.projects {
    font-size: 20px;
    background-size: cover;
    width: 100%;
    height: 95%;
    padding-top: 0.5%;
}

.projects .left {
    display: flex;
}

.projects button {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    width: 50%;
    height: 300px;
}

.projects button a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.projects button:hover {
    background-color: rgb(3, 94, 110);
    /* Fallback color */
    background-color: rgba(0, 84, 90, 0.8);
    border: 5px solid #f1f1f1;
}

.projects p {
    padding: 10px;
    width: 50%;
    font-size: 30px;
}

.projects h1 {
    font-size: 30px;
}

.projects hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.project-panel {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid #f1f1f1;
    width: 50%;
    height: 75%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-panel-header.button {
    top: 0.875rem;
    left: 0.875rem;
    width: 2.25rem;
    height: 2.25rem;
}

.socials {
    text-align: center;
    font-size: 20px;
    padding-top: 2.5%;
    display: inline-block;
}

.socials figure {
    padding-top: 25%;
    padding-left: 20px;
    padding-bottom: 30%;
    margin-block: 5%;
    display: inline-block;
}

.socials img {
    width: 100px;
    height: 100px;
}

.link {
    text-decoration: none;
    color: rgb(165, 165, 165);
}

.icon {
    background-color: rgb(32, 32, 32);
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {
    body {
        background-size: cover;
        font-size: 25px;
    }

    #background-video {
        visibility: hidden;
    }

    .img-background {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
    }

    .img-background img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .img-background h1 {
        font-size: 75px;
        font-weight: bold;
        display: block;
        text-align: center;
    }

    .img-background h2 {
        font-size: 30px;
        padding-bottom: 50vh;
        text-align: center;
    }

    .projects {
        font-size: 20px;
        background-size: cover;
        width: 100%;
        height: 100%;
        padding-top: 0.5%;
    }

    .projects .left {
        display: flex;
        background-color: rgb(55, 98, 109);
    }

    .project-panel {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        border: 3px solid #f1f1f1;
        width: 80%;
        height: 80%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .socials {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-size: cover;
    }

    #background-image {
        visibility: hidden;
    }
}