body {
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Verdana;
    height: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 390px) and (orientation: landscape){
    body{
        overflow: visible;
    }
}

.header-top {
    font-size: 20px;
}

.main-header {
    font-size: 45px;
 }

.sub-header
{
    font-size: 40px;
}

.about-me {
    font-size: 25px;
    gap: 50px 100px;
 }


.projects {
    font-size: 20px;
    display: grid;
}

h2 {
    font-size: 30px;
}

.link {
    text-decoration: none;
    color: rgb(165, 165, 165);
}
